<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Musica</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit-icons.min.js"></script>
    <!-- CSS.gg Icons -->
    <link rel="stylesheet" href="https://css.gg/c">
    <!-- Fontawesome  -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
    <div class="uk-flex uk-flex-center uk-flex-middle uk-height-viewport uk-position-z-index uk-position-relative" data-uk-height-viewport="min-height: 400">
        <!-- TEXT -->
        <div class="uk-container uk-container-small uk-flex-auto uk-text-center" data-uk-scrollspy="target: > .animate; cls: uk-animation-slide-bottom-small uk-invisible; delay: 300">
            <h1 class="uk-heading-primary animate uk-invisible" style="font-weight: 700;">Adicionar Música</h1>
            <div class="uk-width-4-5@m uk-margin-auto animate uk-invisible">
                <form method="POST">
                    <div class="uk-margin">
                        <div class="uk-inline uk-width-4-5">
                            <span class="uk-form-icon" uk-icon="icon: bolt"></span>
                            <input name="url" class="uk-input" type="text" placeholder="Link do youtube, spotify" required>
                        </div>
                    </div>
                    <button class="uk-button uk-button-default" type="submit">Submeter</button>
                </form>
            </div>
        </div>
        <!-- /TEXT -->
        <!-- FOOT -->
        <div class="uk-position-bottom-center uk-position-small">
            <span class="uk-text-small uk-text-center">
                <i class="fas fa-code"></i> by <a href="https://maurom.dev/">Mauro M.</a>
            </span></a></span>
        </div>
        <!-- /FOOT -->
</body>
</html>