<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Musica</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit-icons.min.js"></script>
    <!-- CSS.gg Icons -->
    <link rel="stylesheet" href="https://css.gg/c">
    <!-- Fontawesome  -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
    <div class="uk-flex uk-flex-center uk-flex-middle uk-position-z-index uk-position-relative data-uk-height-viewport" data-uk-height-viewport="min-height: 400">
        {% if error == True %}
        <div class="uk-alert-danger uk-position-top" style = "z-index: 1" uk-alert>
            <a class="uk-alert-close uk-icon uk-close" uk-close="" style="fill: black;color: black;"><svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg" data-svg="close-icon"><line fill="none" stroke="#000" stroke-width="1.1" x1="1" y1="1" x2="13" y2="13"></line><line fill="none" stroke="#000" stroke-width="1.1" x1="13" y1="1" x2="1" y2="13"></line></svg></a>
            <p>{{ errortext }}</p>
        </div>
        {% endif %}
        {% if success == True %}
        <div class="uk-alert-success uk-position-top" style = "z-index: 1" uk-alert>
            <a class="uk-alert-close uk-icon uk-close" uk-close="" style="fill: black;color: black;"><svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg" data-svg="close-icon"><line fill="none" stroke="#000" stroke-width="1.1" x1="1" y1="1" x2="13" y2="13"></line><line fill="none" stroke="#000" stroke-width="1.1" x1="13" y1="1" x2="1" y2="13"></line></svg></a>
            <p>{{ successtext }}</p>
        </div>
        {% endif %}
        <div class="uk-position-top">
            <nav class="uk-navbar-container uk-navbar-transparent uk-dark" style="margin: 10px;" uk-navbar>
                <div class="uk-navbar-left">
                    <ul class="uk-navbar-nav">
                        <li class="uk-active"><a href="/"><span class="uk-icon uk-margin-small-right" uk-icon="icon: home"></span>Home</a></li>
                        <li><a href="{{ url_for('add') }}"><span class="uk-icon uk-margin-small-right" uk-icon="icon: cloud-upload"></span>Submeter</a></li>
                    </ul>
                </div>
                <div class="uk-navbar-right">
                        <ul class="uk-navbar-nav">
                            <li>
                                <a href="" data-uk-icon="icon:user"></a>
                                <div class="uk-navbar-dropdown uk-navbar-dropdown-bottom-left">
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li><a href="{{ url_for('about') }}"><span data-uk-icon="icon: info"></span> Sobre</a></li>
                                        <li><a href="{{ url_for('logout') }}"><span data-uk-icon="icon: sign-out"></span> Logout</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                </div>
            </nav>
        </div>
        <!-- TEXT -->
        <div class="uk-container uk-container-small uk-flex-auto uk-text-center" data-uk-scrollspy="target: > .animate; cls: uk-animation-slide-bottom-small uk-invisible; delay: 300">
            <h1 class="uk-heading-primary animate uk-invisible" style="font-weight: 700;">Adicionar Música</h1>
            <div class="uk-width-4-5@m uk-margin-auto animate uk-invisible">
                <form method="POST">
                    <div class="uk-margin uk-height-match">
                        <div class="uk-inline uk-width-4-5">
                            <span class="uk-form-icon" uk-icon="icon: bolt"></span>
                            <input name="url" class="uk-input" type="text" placeholder="Link do youtube, spotify" required>
                        </div>
                        <button class="uk-button uk-button-default" type="submit"><span uk-icon="check" style="padding: 9px;"></span></button>
                    </div>
                </form>
            </div>
            <div class="uk-margin-large-top">
                <table class="uk-table uk-table-striped">
                    <caption>Músicas que já submeteste</caption>
                    <thead>
                        <tr>
                            <th><span uk-icon="image"></span></th>
                            <th>Nome</th>
                            <th>Duração</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in user_songs %}
                        <tr>
                            <td><img data-src="{{i[3]}}" alt="capa" style="object-fit: cover; width: 25px; height: 25px;" uk-img></td>
                            <td>{{i[0]}}</td>
                            <td>{{i[1]}}</td>
                            <td><a href="{{url_for('delete', name=i[0])}}" class="uk-icon-link" uk-icon="trash"></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /TEXT -->
        <!-- FOOT -->
        <div class="uk-position-bottom-center uk-position-small">
            <span class="uk-text-small uk-text-center">
                <i class="fas fa-terminal"></i> by <a href="https://maurom.dev/">Mauro M.</a>
            </span></a></span>
        </div>
        <!-- /FOOT -->
</body>
</html>